appnope==0.1.4
asttokens==3.0.0
certifi==2025.6.15
charset-normalizer==3.4.2
cloudpickle==3.1.1
comm==0.2.2
debugpy==1.8.14
decorator==5.2.1
executing==2.2.0
Farama-Notifications==0.0.4
filelock==3.18.0
fsspec==2025.5.1
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.1.1
idna==3.10
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.6.3
jupyter_core==5.8.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.5
numpy==2.3.0
orjson==3.10.18
packaging==25.0
pandas==2.3.0
parso==0.8.4
pettingzoo==1.25.0
pexpect==4.9.0
platformdirs==4.3.8
poke_env==0.9.0
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==27.0.0
requests==2.32.4
setuptools==80.9.0
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
tabulate==0.9.0
torch==2.7.1
tornado==6.5.1
traitlets==5.14.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
websockets==15.0.1